.Screen {
  border: 1px solid var(--c-primary);
  border-radius: 8px;
  column-gap: 20px;
  row-gap: 20px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2.25fr;
  grid-template-rows: auto;
  margin: 4vh auto;
  padding: 20px;
  width: 96%;
  height: 92vh;
  overflow: hidden;
  justify-content: center;
  color: var(--c-primary);
  background-color: var(--c-background);
}



/* Left side tabs */
.TabCell {
  flex-direction: column;
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: flex-start;
}

.Tabs {
  height: 100%;
  position: relative;
}

.TabLink {
  background-color: var(--c-primary);
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  padding: 8px  24px;
  text-align: center;
  color: var(--c-secondarybg);
  text-decoration: none;
}

.TabPane {
  background-color: var(--c-secondarybg);
  border-radius: 8px;
  display: block;
  min-height: 96%;
  overflow: hidden;
  padding: 16px;
}

.Map {
  width: 96%;
  height: 96%;
  object-fit: cover;
  transform: translate(-5%, 30%) scale(2.6);
}


/* main content */
.OperationsCell {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

/* Quest background info */
.QuestCell {
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin-bottom: 12px;
  padding: 0;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
  grid-column: 2;
}

.QuestIntroCell {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LevelHeader {
  font-size: 28px;
  margin: 0.5em 0 0.67em 0;
  box-sizing: border-box;
  display: block;
}

.LevelContext {
  margin: 0 0 10px 0;
  padding: 0;
}

/* New Quest */
.NewQuestCell {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: span 1 / span 1 / span 1 / span 1;
  color: var(--c-secondarybg);
}

.NewQuest {
  background-image: linear-gradient(45deg, var(--c-secondary), var(--c-primary));
  border-left: 5px solid var(--c-highlight);
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 1px -1px 5px var(--c-shadow);
  margin: 0 0 10px 0;
  padding: 10px 16px;
}

.BoldText {
  font-size: 21px;
  font-weight: bold;
}

.QuestDetails {
  margin: -12px 0 0 0;
  padding: 0 0 0 8px;
}

.QuestText {
  box-shadow: none;
  color: var(--c-primary);
  border-left: 2px solid var(--c-secondary);
  margin: 0 auto 0 auto;
  padding: 16px 8px;
}

/* Text fields */
.LevelLayout {
  height: 100%;
  width: 100%;
  margin: auto;
  grid-row-gap: 8px;
  grid-column-gap: 20px;
  grid-template-rows: .5fr .5fr;
  grid-template-columns: 3fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}

.Form {
  height: 49%;
  color: var(--c-secondarybg);
  margin-bottom: 16px;
}

.QueryHeader {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.FieldLabel {
  color: var(--c-primary);
  font-weight: 700;
  font-size: 18;
  line-height: 20px;
}

.ExecuteButton {
  align-items: flex-start;
  appearance: button;
  background-color: var(--c-action);
  border: none;
  border-radius: 20px;
  color: var(--c-secondary);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  line-height: 20px;
  margin-left: auto;
  padding: 0px 16px;
  text-align: center;
}

.FieldLabel {
  font-size: 18px;
}

#SQLQueryField {
  background-color: var(--c-transparent);
  border-color: var(--c-primary);
  border-radius: 8px;
  border-width: 1px;
  color: var(--c-secondary);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 90%;
  width: 100%;
  padding: 8px;
  box-shadow: var(--c-shadow) 1px 1px 5px 0px;
}

.ResultDisplay {
  height: 49%;
}

.DisplayLabel {
  color: var(--c-primary);
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.Result {
  background-color: var(--c-secondarybg);
  border-radius: 8px;
  box-shadow: var(--c-shadow) 1px 1px 5px 0px inset;
  color: var(--c-secondary);
  display: block;
  font-size: 14px;
  height: 90%;
  padding: 8px;
}