.DatabaseDiagramDrawer {
    width: 70%;
    height: 0%;
    position: absolute;
    bottom: 4.1vh;
    left: 15%;
    z-index: 1;
    background: none;
    transition: height 200ms;
    -webkit-transition: height 200ms;
}

.DrawerButton {
    background-color: var(--c-red);
    border: none;
    border-radius: 8px 8px 0 0;
    color: var(--c-secondarybg);
    display: flex;
    font-size: var(--fs-p);
    margin: auto;
    padding: 12px 16px;
    position: relative;
    transition-duration: 0.1s;
    text-decoration: none;
    cursor: pointer;
}

.DiagramArea {
    background-color: var(--c-secondarybg);
    border-radius: 8px 8px 0 0;
    height: 100%;
    padding: 16px;
    width: 100%;
    overflow: hidden;
}

#DBDImg {
    background-image: url('../img/DatabaseDiagram.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 150%;
    height: 150%;
    filter: invert(1);
    mix-blend-mode: lighten;
}   