.LevelScreen {
    align-items: center;
    background-color: var(--c-background);
    border: 1px solid var(--c-primary);
    border-radius: var(--b-rad);
    color: var(--c-primary);
    display: grid;
    grid-template-rows: 0.25fr 2fr;
    margin: 4vh auto;
    padding: 20px;
    width: 96%;
    height: 92vh;
    overflow: hidden;
    justify-content: center;
}

.ScreenTitle {
    align-items: start;
    justify-content: start;
    height: 100%;
}

.LevelList {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-self: stretch;
    align-self: start;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

.Card {
    border: 1px solid var(--c-primary);
    border-radius: var(--b-rad);
    color: var(--c-secondary);
    cursor: pointer;
    display: grid;
    float: left;
    grid-template-rows: 1fr 0.5fr;
    min-height: 30%;
    max-height: 35%;
    min-width: 42%;
    max-width: 50%;
    margin: 8px;
    transition-duration: 0.1s;
    text-decoration: none;
}

.Card:hover {
    background-color: var(--c-primary);
    box-shadow: 8px 4px 4px var(--c-shadow);
    transform: scale(1.02);
}

.LevelImage {
    display: block;
    grid-row: 1;
    height: 100%;
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.LevelImage > img {
    object-fit: cover;
    border-radius: var(--b-rad);
    height: 100%;
    width: 100%;
}

.LevelCardDescription {
    display: block;
    grid-row: 2;
    height: 100%;
    width: 100%;
    padding: 16px;
    justify-content: start;
    align-content: center;
}