.Solution {
    align-items: flex-start;
    background: var(--c-secondarybg);
    border-radius: var(--b-rad);
    box-shadow: 1px 1px 5px var(--c-shadow) inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--p-1-5x);
}

.Solution h2 {
    padding: 0;
    margin: 0;
}

.SolutionEntry {
    margin: var(--m-1x) 0;
    width: 100%
}

.SolutionLabel {
    color: var(--c-secondary);
    display: block;
    margin-bottom: var(--m-1x);
}

.SolutionField {
    background: var(--c-secondarybg);
    border: solid 1px var(--c-primary);
    border-radius: var(--b-rad);
    color: var(--c-secondary);
    padding: var(--p-1-5x);
    width: 100%;
}

.SolutionField::placeholder {
    color: var(--c-secondary);
}

.SubmitButton {
    background-color: var(--c-secondary);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    padding: var(--p-1x) var(--p-3x);
    margin-top: var(--m-1x);
}

.SubmitButton:hover {
    background-color: var(--c-action-h);
    color: var(--c-secondary);
}