.Background {
    background-image: url('../img/Fantasy_Landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    filter: sepia(40%);
}

.Title {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameLogo {
    background-image: url('../img/PlaceHolderLogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30vh;
    width: 30vw;
}

.Menu {
    grid-column: 3;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StartGameButton {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid var(--c-primary);
    border-radius: 64px;
    color: var(--c-secondary);
    font-size: var(--fs-pl);
    padding: var(--p-2x) var(--p-4x);
    transition-duration: 0.1s;
    text-decoration: none;
}

.StartGameButton:hover {
    background: var(--c-secondary);
    color: var(--c-action-h);
    font-size: var(--fs-quest);
}