.TabCell {
  flex-direction: column;
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: flex-start;
}

.Tabs {
  height: 100%;
  position: relative;
}

.TabList {
    width: 100%;
    margin: 0;
    margin-inline: 0;
}

.TabLink {
  background-color: var(--c-primary);
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  padding: 12px 24px;
  text-align: center;
  color: var(--c-secondarybg);
  text-decoration: none;
}

.TabLink:hover {
    background-color: var(--c-secondary);
}

.TabLink[aria-selected='true'] {
  background-color: var(--c-action);
  color: var(--c-secondary);
}

.TabLink[aria-selected='true']:hover {
  background-color: var(--c-action-h);
}

.TabPane {
  background-color: var(--c-secondarybg);
  border-radius: 8px;
  display: block;
  height: 96%;
  overflow: hidden;
  padding: 16px;
  box-shadow: 1px 1px 5px var(--c-shadow) inset;
}

.TabContent {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.Map {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}