.TabCell {
  flex-direction: column;
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: center;
  height: 88vh;
}

.Tabs {
  height: 100%;
}

.TabList {
  width: 100%;
  margin: 0;
  margin-inline: 0;
}

.TabLink {
  background-color: var(--c-primary);
  border-radius: 8px 8px 0px 0px;
  color: var(--c-secondarybg);
  cursor: pointer;
  display: inline-block;
  font-size: var(--fs-p);
  width: calc(100%/5);
  padding: .8em 0;
  text-align: center;
  text-decoration: none;
}

.TabLink:hover {
  background-color: var(--c-secondary);
}

.TabLink[aria-selected='true'] {
  background-color: var(--c-action-h);
  color: var(--c-secondary);
}

.TabPane {
  background-color: var(--c-secondarybg);
  border-radius: 0 0 var(--b-rad) var(--b-rad);
  display: block;
  overflow: hidden;
  box-shadow: 1px 1px 5px var(--c-shadow) inset;
}

.TabContent {
  height: 80vh;
  width: 94%;
  border-radius: var(--b-rad);
  border: 1px solid var(--c-primary);
  margin: 3% auto;
  overflow: hidden;
}

.Map {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
  border-radius: var(--b-rad);
}

.GetInventoryButton {
  background: none;
  border: 1px solid var(--c-primary);
  border-radius: 64px;
  color: var(--c-secondary);
  display: flex;
  font-size: var(--fs-pl);
  padding: 16px 64px;
  transition-duration: 0.1s;
  text-decoration: none;
}