.TabCell {
  flex-direction: column;
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: center;
}

.Tabs {
  height: 100%;
}

.TabList {
    width: 100%;
    margin: 0;
    margin-inline: 0;
}

.TabLink {
  background-color: var(--c-primary);
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  padding: 12px 24px;
  text-align: center;
  color: var(--c-secondarybg);
  text-decoration: none;
}

.TabLink:hover {
    background-color: var(--c-secondary);
}

.TabLink[aria-selected='true'] {
  background-color: var(--c-action);
  color: var(--c-secondary);
}

.TabLink[aria-selected='true']:hover {
  background-color: var(--c-action-h);
}

.TabPane {
  background-color: var(--c-secondarybg);
  border-radius: var(--b-rad);
  display: block;
  overflow: hidden;
  box-shadow: 1px 1px 5px var(--c-shadow) inset;
}

.TabContent {
  height: 80vh;
  width: 94%;
  border-radius: var(--b-rad);
  margin: 3% auto;
}

.Map {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
  border-radius: var(--b-rad);
}

.GetInventoryButton {
  background: none;
  border: 1px solid var(--c-primary);
  border-radius: 64px;
  color: var(--c-secondary);
  display: flex;
  font-size: var(--fs-pl);
  padding: 16px 64px;
  transition-duration: 0.1s;
  text-decoration: none;
}

.Item {
  background-color: var(--c-secondary);
  border-radius: var(--b-rad);
  color: var(--c-secondarybg);
  display: inline-block;
  width: 100%;
  margin: 4px auto;
}

.ItemText {
  display: inline-block;
  margin: 4% auto;
  align-self: center;
}

.ItemID {
  width: 10%;
  padding-left: 4%;
}

.ItemName {
  width: 45%;
}

.ItemOrigin {
  width: 45%;
  text-align: end;
  padding-right: 4%;
}