:root {
  --c-background: #363d3d;
  --c-secondarybg: #333;
  --c-primary: #e0cba8;
  --c-secondary: #f8f8f8;
  --c-action: #88498f;
  --c-transparent: rgba(255, 255, 255, 0);
  --c-shadow: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--c-background);
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}