:root {
  --c-background: #363d3d;
  --c-secondarybg: #333;
  --c-primary: #e0cba8;
  --c-primary-h: #e3d8c5;
  --c-secondary: #f8f8f8;
  --c-secondary-h: #fff;
  --c-action: #88498f;
  --c-action-h: #d063ff;
  --c-transparent: rgba(255, 255, 255, 0);
  --c-shadow: rgba(0, 0, 0, 0.2);
  --c-red: #ff6542;

  --fs-h1: 2.488rem;
  --fs-h2: 2.074rem;
  --fs-label: 1.728rem;
  --fs-quest: 1.44rem;
  --fs-pl: 1.2rem;
  --fs-p: 1rem;

  --b-rad: 8px;

  --p-1x: 0.5rem;
  --p-1-5x: 0.75rem;
  --p-2x: 1rem;
  --p-3x: 1.5rem;
  --p-4x: 4rem;
  --p-5x: 5rem;

  --m-1x: 0.5rem;
  --m-1-5x: 0.75rem;
  --m-2x: 1rem;
  --m-3x: 1.5rem;
  --m-4x: 4rem;
  --m-5x: 5rem;
}

body {
  background-color: var(--c-background);
  font-size: var(--fs-p);
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

ul {
  margin-inline: 0;
  margin: 0;
  padding-inline: 0;
  padding: 0;
}